.body, a, i, h1, h2, h3, p, span, label, button, input{
    font-family: Arial, sans-serif;
}
.shop-cart-page{
    /*margin: 100px 0px 0px 30px;*/
    text-align: center;
    margin: 0% 25% 5% 25%;
}
.shop-cart-page hr{
    margin: 0% 10% 0% 10% ;
    border: 1px solid #c7c7c7;
}
.delivery-block{
    margin: 30px 0px 0px 30px;
    /*float: left;*/
    display: inline-grid;
    text-align: center;
    position: relative;
}
.delivery-block label{
    margin: 0px 60px 0px 0px;
}
input[type='radio'] { 
    transform: scale(2);
}


/*radio button animation*/
input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
label {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-left: 30px;
  padding-right: 10px;
  line-height: 36px;
  cursor: pointer;
  padding-top: 5px;
}
label::before {
  content: " ";
  position: absolute;
  top: 6px;
  left: 0;
  display: block;
  width: 24px;
  height: 24px;
  border: 2px solid #54599B;
  border-radius: 4px;
  z-index: -1;
}
input[type="radio"] + label::before {
  border-radius: 18px;
}
/* Checked */
input[type="checkbox"]:checked + label,
input[type="radio"]:checked + label {
  padding-left: 10px;
  color: #fff;
}
input[type="checkbox"]:checked + label::before,
input[type="radio"]:checked + label::before {
  top: 0;
  width: 100%;
  height: 100%;
  background: #54599B;
}
/* Transition */
label,
label::before {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

/* DATE PICKER */ 
.date-picker {
    width: 260px;
    height: auto;
    max-height: 50px;
    background: white;
    overflow: hidden;
    -webkit-transition: all 0.3s 0s ease-in-out;
    transition: all 0.3s 0s ease-in-out;
    border: 1px solid #ccc !important;
    border-radius: 5px;
}
.date-picker .input {
    width: 100%;
    height: 50px;
    font-size: 0;
    cursor: pointer;
}
.date-picker .input .result, .date-picker .input button {
    display: inline-block;
    vertical-align: top;
}
.date-picker .input .result {
    width: calc(100% - 50px);
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    padding: 0 10px;
    color: grey;
    box-sizing: border-box;
}
.date-picker .input button {
    width: 50px;
    height: 50px;
    background-color: #54599B;
    color: white;
    line-height: 50px;
    border: 0;
    font-size: 18px;
    padding: 0;
}
.date-picker .input button:hover {
    background-color: rgba(84, 91, 155, 0.897);
}
.date-picker .input button:focus {
    outline: 0;
}
.date-picker .calendar {
    position: relative;
    width: 100%;
    background: #fff;
    border-radius: 0px;
    overflow: hidden;
}
.date-picker .ui-datepicker-inline {
    position: relative;
    width: 100%;
}
.date-picker .ui-datepicker-header {
    height: 100%;
    line-height: 50px;
    background: #54599B;
    color: #fff;
    margin-bottom: 10px;
}
.date-picker .ui-datepicker-prev, .date-picker .ui-datepicker-next {
    width: 20px;
    height: 20px;
    text-indent: 9999px;
    border: 2px solid #fff;
    border-radius: 100%;
    cursor: pointer;
    overflow: hidden;
    margin-top: 12px;
}
.date-picker .ui-datepicker-prev {
    float: left;
    margin-left: 12px;
}
.date-picker .ui-datepicker-prev:after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin: -43px 0px 0px 8px;
}
.date-picker .ui-datepicker-next {
    float: right;
    margin-right: 12px;
}
.date-picker .ui-datepicker-next:after {
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
    margin: -43px 0px 0px 6px;
}
.date-picker .ui-datepicker-prev:after, .date-picker .ui-datepicker-next:after {
    content: "";
    position: absolute;
    display: block;
    width: 4px;
    height: 4px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
}
.date-picker .ui-datepicker-prev:hover, .date-picker .ui-datepicker-next:hover, .date-picker .ui-datepicker-prev:hover:after, .date-picker .ui-datepicker-next:hover:after {
    border-color: rgb(163,167,201);
}
.date-picker .ui-datepicker-title {
    text-align: center;
}
.date-picker .ui-datepicker-calendar {
    width: 100%;
    text-align: center;
}
.date-picker .ui-datepicker-calendar thead tr th span {
    display: block;
    width: 100%;
    color: #8392A7;
    margin-bottom: 5px;
    font-size: 13px;
}
.date-picker .ui-state-default {
    display: block;
    text-decoration: none;
    color: #b5b5b5;
    line-height: 40px;
    font-size: 12px;
}
.date-picker .ui-state-default:hover {
    background: rgba(0, 0, 0, 0.02);
}
.date-picker .ui-state-highlight {
    color: #68768A;
}
.date-picker .ui-state-active {
    color: #68768A;
    background-color: rgba(131, 146, 167, 0.12);
    font-weight: 600;
}
.date-picker .ui-datepicker-unselectable .ui-state-default {
    color: #eee;
    border: 2px solid transparent;
}
.date-picker.open {
    max-height: 400px;
    margin-bottom: 40px;
}
.date-picker.open .input button {
    background: rgba(84, 90, 155, 0.767);
}

/* HOUR PICKER */
.hour-picker{
    padding: 3px;
    font-family: monospace;
    font-size: 13.33333px;
    cursor: default;
}
input[type="time"] {
    max-height: 50px;
    font-size: 35px;
    padding: 0px 0px 0px 40px;
    border: 1px solid #ccc !important;
    color: grey;
    text-align: center;
    border-radius: 5px;
}
input[type="time"]::-webkit-inner-spin-button { 
    cursor:pointer;
    display:block;
    width:8px;
    color: #333;
    text-align:center;
    position:relative;
    background: rgba(0, 0, 0, 0.02);
}   
input[type="time"]:hover::-webkit-inner-spin-button { 
    cursor:pointer;
    display:block;
    width:8px;
    color: #333;
    text-align:center;
    position:relative;
    background: rgba(0, 0, 0, 0.02);
}

/* FINISH BUYING */
.finish-buying{
    margin: 20px 0px 50px 0px;
    text-align: -webkit-center;
}
.finish-buying button{
    font-size: 15px;
    padding: 20px;
}
